/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-oleti-bk-testimonial {
	border: 1px dotted #0073e5;
}

.editor-styles-wrapper cite.bk-testimonial-author {
	font-size: 18px;
	margin-bottom: 5px;
	font-style: normal;
	font-weight: 400;
}

.bk-testimonial-blockquote .bk-testimonial-author {
	display: block;
}
