/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .wp-block-oleti-bk-testimonial {
	border: 1px dotted #0073e5;
}

.editor-styles-wrapper h2.bk-testimonial-author {
	font-size: 20px;
	margin-bottom: 5px;
	font-style: normal;
}

.bk-testimonial-blockquote cite {
	display: block;
}

.editor-styles-wrapper .bk-font-size-24 p {
	font-size: 24px;
	font-style: italic;
}

.editor-styles-wrapper .bk-font-size-25 p {
	font-size: 25px;
	font-style: italic;
}

.editor-styles-wrapper .bk-font-size-26 p {
	font-size: 26px;
	font-style: italic;
}

.editor-styles-wrapper .bk-font-size-27 p {
	font-size: 27px;
	font-style: italic;
}

.editor-styles-wrapper .bk-font-size-28 p {
	font-size: 28px;
	font-style: italic;
}

.editor-styles-wrapper .bk-font-size-29 p {
	font-size: 29px;
	font-style: italic;
}

.editor-styles-wrapper .bk-font-size-30 p {
	font-size: 30px;
	font-style: italic;
}

.editor-styles-wrapper .bk-font-size-31 p {
	font-size: 31px;
	font-style: italic;
}

.editor-styles-wrapper .bk-font-size-32 p {
	font-size: 32px;
	font-style: italic;
}
