/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .wp-block-oleti-bk-testimonial {
	border: 1px dotted #0073e5;
}

.editor-styles-wrapper h2.bk-testimonial-author {
	font-size: 20px;
	margin-bottom: 5px;
	font-style: normal;
}

.bk-testimonial-blockquote cite {
	display: block;
}