/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-oleti-bk-testimonial {
	padding: 50px;
	direction: ltr;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
	margin-bottom: 30px;
}

.wp-block-oleti-bk-testimonial__button {
	background: #f5f5f5;
	padding: 30px;
	display: table;
    margin: 0 auto;
}

.wp-block-oleti-bk-testimonial__media {
	margin: 0;
}

.wp-block-oleti-bk-testimonial blockquote {
	margin: 30px;
}

.wp-block-oleti-bk-testimonial__button {

}

.wp-block-oleti-bk-testimonial__media img {
    max-width: 256px;
    border-radius: 100%;
    height: 256px;
    max-height: 256px;
    display: table;
    margin: 0 auto;
}

.bk-testimonial-content,
.bk-testimonial-author,
.bk-testimonial-role {
	text-align: center;
}

.has-text-align-right .bk-testimonial-content,
.has-text-align-right .bk-testimonial-author,
.has-text-align-right .bk-testimonial-role {
	text-align: right;
}

.has-text-align-left .bk-testimonial-content,
.has-text-align-left .bk-testimonial-author,
.has-text-align-left .bk-testimonial-role {
	text-align: left;
}


.bk-testimonial-author {
	font-size: 20px;
	margin-bottom: 5px;
	font-style: normal;
}

.bk-testimonial-role {
	font-size: 18px;
	display: block;
}


/* -- Image on left
--------------------------------------------- */

.wp-block-oleti-bk-testimonial.is-style-image-on-left {
    direction: ltr;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 35% 1fr;
    grid-template-columns: 35% 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
	margin-bottom: 30px;
}

.wp-block-oleti-bk-testimonial.is-style-image-on-left .bk-testimonial-blockquote,
.wp-block-oleti-bk-testimonial.is-style-image-on-left .wp-block-oleti-bk-testimonial__button,
.wp-block-oleti-bk-testimonial.is-style-image-on-left .wp-block-oleti-bk-testimonial__media {
    -ms-grid-row-align: center;
    align-self: center
}




/* -- Image on right
--------------------------------------------- */

.wp-block-oleti-bk-testimonial.is-style-image-on-right {
    direction: ltr;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 35%;
    grid-template-columns: 1fr 35%;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
	margin-bottom: 30px;
}

.wp-block-oleti-bk-testimonial.is-style-image-on-right .wp-block-oleti-bk-testimonial__button,
.wp-block-oleti-bk-testimonial.is-style-image-on-right .wp-block-oleti-bk-testimonial__media,
.wp-block-media-text .wp-block-media-text__content {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1
}

.wp-block-oleti-bk-testimonial.is-style-image-on-right .wp-block-media-text__content {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1
}

.wp-block-oleti-bk-testimonial.is-style-image-on-right .bk-testimonial-blockquote,
.wp-block-oleti-bk-testimonial.is-style-image-on-right .wp-block-oleti-bk-testimonial__button,
.wp-block-oleti-bk-testimonial.is-style-image-on-right .wp-block-oleti-bk-testimonial__media {
    -ms-grid-row-align: center;
    align-self: center
}
